body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #84C6CC, #DCF265, #FF75E6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .form-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }

  .form-container h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #4a4a4a;
  }

  .form-container input {
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1rem;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    transition: all 0.3s;
    background: transparent;
  }

  .form-container input:focus {
    border-bottom: 2px solid #6e8efb;
  }

  .form-container button {
    background: linear-gradient(135deg, #84C6CC, #DCF265);
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
  }

  .form-container button:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(110, 142, 251, 0.3);
  }

  .form-container a {
    text-decoration: none;
    font-size: 0.9rem;
    color: #6e8efb;
    display: inline-block;
    margin-top: 10px;
    transition: all 0.3s;
  }
  .form-container h2{
    text-decoration: none;
    font-size: 0.9rem;
    color: #4a4a4a;
    display: inline-block;
    margin-top: 10px;
    transition: all 0.3s;
  }
  .form-container a:hover {
    text-decoration: underline;
  }

  .form-container .divider {
    margin: 20px 0;
    position: relative;
    text-align: center;
  }

  .form-container .divider:before,
  .form-container .divider:after {
    content: "";
    width: 40%;
    height: 1px;
    background: #ccc;
    position: absolute;
    top: 50%;
  }

  .form-container .divider:before {
    left: 0;
  }

  .form-container .divider:after {
    right: 0;
  }

  .form-container .divider span {
    font-size: 0.9rem;
    color: #666;
    background: #ffffff;
    padding: 0 10px;
    position: relative;
    z-index: 1;
  }